<template>
    <div class="row">
        <div class="col-12 col-lg-6">
            <article :class="['mt-5', working ? 'working' : null]">
                <h2 class="mt-5">PLSS</h2>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="state" class="form-label">State</label>
                            <select id="state" class="form-select mb-3" v-model="state">
                                <option></option>
                                <option v-for="(state, stateCode) in states" v-if="Object.keys(state.meridians).length > 0" :value="stateCode">{{state.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="meridian" class="form-label">Meridian</label>
                            <select id="meridian" class="form-select mb-3" v-model="meridian">
                                <option></option>
                                <option v-for="(meridian, meridianCode) in state && states[state] ? states[state].meridians : {}" :value="meridianCode">{{meridian}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="township1" class="form-label">Township</label>
                            <div class="input-group mb-3">
                                <input id="township1" class="form-control" v-model="township1" type="number" min="1" max="999"/>
                                <button :class="['btn', township2 === 'N' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="township2 = 'N'">N</button>
                                <button :class="['btn', township2 === 'S' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="township2 = 'S'">S</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="range1" class="form-label">Range</label>
                            <div class="input-group mb-3">
                                <input id="range1" class="form-control" v-model="range1" type="number" min="1" max="999"/>
                                <button :class="['btn', range2 === 'E' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="range2 = 'E'">E</button>
                                <button :class="['btn', range2 === 'W' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="range2 = 'W'">W</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="section" class="form-label">Section</label>
                    <input id="section" class="form-control mb-3" v-model="section" type="number" min="1" max="99"/>
                </div>

                <div class="row">
                    <label for="feetNS" class="form-label">Feet from section boundary</label>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input id="feetNS" class="form-control" v-model="feetNS" type="number" min="0" max="999"/>
                                <button :class="['btn', feetNSDir === 'N' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="feetNSDir = 'N'">N</button>
                                <button :class="['btn', feetNSDir === 'S' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="feetNSDir = 'S'">S</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input id="feetEW" class="form-control" v-model="feetEW" type="number" min="0" max="999"/>
                                <button :class="['btn', feetEWDir === 'E' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="feetEWDir = 'E'">E</button>
                                <button :class="['btn', feetEWDir === 'W' ? 'btn-primary' : 'btn-outline-primary', 'px-3']" type="button" @click="feetEWDir = 'W'">W</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-light">
                    <div class="form-group">
                        <label for="blmFormat" class="form-label">BLM format</label>
                        <input id="blmFormat" :class="['form-control', 'mb-3', blmFormatValid ? '' : 'is-invalid']" v-model="blmFormat"/>
                        <div v-if="!blmFormatValid" class="invalid-feedback">Invalid format</div>
                    </div>
                </div>

                <div v-if="!isPlssValid || !blmFormatValid" class="alert alert-warning">
                    ⚠️ PLSS is invalid. Fill out all the fields above.
                </div>

                <div v-if="toLatLongNoResults" class="alert alert-warning">
                    ⚠️ No results found.
                </div>

                <button class="btn btn-primary d-block w-100" @click="toLatLong" :disabled="!isPlssValid || !blmFormatValid">
                    Convert to lat/long
                </button>
                <button class="btn btn-link btn-sm" @click="clearPlss">Clear</button>
                <button class="btn btn-link btn-sm" @click="examplePlss">Fill in an example</button>
            </article>
        </div>
        <div class="col-12 col-lg-6">
            <article :class="['mt-5', working ? 'working' : null]">
                <h2>Latitude & longitude</h2>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="latitude" class="form-label">Latitude</label>
                            <input id="latitude" class="form-control mb-3" v-model="latitude" type="number"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="longitude" class="form-label">Longitude</label>
                            <input id="longitude" class="form-control mb-3" v-model="longitude" type="number"/>
                        </div>
                    </div>
                </div>

                <div v-if="!isLatLongValid" class="alert alert-warning">
                    ⚠️ PLSS is invalid. Fill out all the fields above.
                </div>

                <div v-if="toPlssNoResults" class="alert alert-warning">
                    ⚠️ No results found.
                </div>

                <button class="btn btn-primary d-block w-100" @click="toPlss" :disabled="!isLatLongValid">
                    Convert to PLSS
                </button>
                <button class="btn btn-link btn-sm" @click="clearLatLong">Clear</button>
                <button class="btn btn-link btn-sm" @click="exampleLatLong">Fill in an example</button>
            </article>

            <article class="mt-5">
                <h2>Map</h2>
                <Map ref="map" @position-changed="setLatLong"/>
                <p class="text-muted small">
                    Zoom in to the desired location, click and hold the marker for a second to start dragging it.
                </p>
            </article>
        </div>
    </div>
</template>

<script>
    import states from '../src/states';
    // TODO 37.062336, -96.737163 -> KS060340S0060E0SN26
    // TODO caching?

    const BLM_BASE_URL = 'https://gis.blm.gov/arcgis/rest/services/Cadastral/BLM_Natl_PLSS_CadNSDI/MapServer/exts/CadastralSpecialServices';
    const EARTH_RADIUS_METERS = 6371000;
    const METERS_TO_FEET = 3.2808399;

    export default {
        data() {
            return {
                state: null,
                meridian: null,
                township1: null,
                township2: null,
                range1: null,
                range2: null,
                section: null,

                feetNS: 0,
                feetNSDir: 'N',
                feetEW: 0,
                feetEWDir: 'E',

                latitude: null,
                longitude: null,

                blmFormatValid: true,
                toPlssNoResults: false,
                toLatLongNoResults: false,

                states,

                working: false,
            }
        },
        watch: {
            state() {
                if (!this.state || !this.states[this.state]) {
                    this.meridian = null;
                    return;
                }
                if (this.states[this.state].meridians[this.meridian] !== undefined) {
                    return;
                }
                this.meridian = Object.keys(this.states[this.state].meridians)[0];
            },
            blmFormat(v) {
                this.blmFormatValid = !!v.match(/^(\w\w)(\d\d)(\d\d\d)0([NS])(\d\d\d)0([EW])0SN(\d\d)0/);
                this.toLatLongNoResults = false;
            },
            latitude() {
                this.toPlssNoResults = false;
                if (this.isLatLongValid) {
                    this.$refs.map.setMarker(this.latitude, this.longitude);
                }
            },
            longitude() {
                this.toPlssNoResults = false;
                if (this.isLatLongValid) {
                    this.$refs.map.setMarker(this.latitude, this.longitude);
                }
            },
        },
        computed: {
            blmFormat: {
                get() {
                    if (!this.isPlssValid) {
                        return '';
                    }
                    return `${this.state}${this.meridian}${this.township1.padStart(3, '0')}0${this.township2}${this.range1.padStart(3, '0')}0${this.range2}0SN${this.section.padStart(2, '0')}0`;
                },
                set(v) {
                    this.blmFormatValid = true;

                    const m = v.match(/^(\w\w)(\d\d)(\d\d\d)0([NS])(\d\d\d)0([EW])0SN(\d\d)0/)
                    if (!m) {
                        this.blmFormatValid = false;
                        return;
                    }

                    [, this.state, this.meridian, this.township1, this.township2, this.range1, this.range2, this.section] = m;
                },
            },
            isPlssValid() {
                if (!this.state || !this.states[this.state]) {
                    return false;
                }
                if (!this.meridian || !this.states[this.state].meridians[this.meridian]) {
                    return false;
                }
                if (!this.township1 || !['N', 'S'].includes(this.township2)) {
                    return false;
                }
                if (!this.range1 || !['E', 'W'].includes(this.range2)) {
                    return false;
                }
                if (!this.section) {
                    return false;
                }

                return true;
            },
            isLatLongValid() {
                try {
                    return this.latitude && parseFloat(this.latitude) && this.longitude && parseFloat(this.longitude);
                } catch {
                    return false;
                }
            },
        },
        methods: {
            async toLatLong() {
                if (!this.isPlssValid) {
                    return;
                }

                this.toLatLongNoResults = false;
                this.working = true;
                this.clearLatLong();

                const best = await this.toLatLongCorner(this.blmFormat, this.feetNSDir, this.feetEWDir);

                if (best) {
                    this.latitude = best.lat + this.feetToDegrees(parseInt(this.feetNS)) * (this.feetNSDir === 'S' ? 1 : -1);
                    this.longitude = best.long + this.feetToDegrees(parseInt(this.feetEW)) * (this.feetEWDir === 'W' ? 1 : -1);
                } else {
                    this.toLatLongNoResults = true;
                }

                this.working = false;
            },
            async toLatLongCorner(blmFormat, dirNS, dirEW) {
                let corners = [];
                for (let quandrangle of this.quadranglesToCheck()) {
                    const result = await this.request(`GetLatLon?trs=${blmFormat}${quandrangle}&f=pjson`);
                    if (result) {
                        corners = [...corners, ...result.geometry.rings[0]];
                    }
                }

                return this.selectBestCorner(corners, dirNS, dirEW);
            },
            selectBestCorner(corners, dirNS, dirEW) {
                let best = null;
                for (let [long, lat] of corners) {
                    if (!best || (this.isBetterCorner(best.lat, lat, dirNS) && this.isBetterCorner(best.long, long, dirEW))) {
                        best = {lat, long};
                    }
                }
                return best;
            },
            isBetterCorner(currentPoint, newPoint, dir) {
                if (['N', 'E'].includes(dir)) {
                    return newPoint > currentPoint;
                }
                if (['S', 'W'].includes(dir)) {
                    return newPoint < currentPoint;
                }
                throw 'Invalid direction';
            },
            async toPlss() {
                if (!this.isLatLongValid) {
                    return;
                }

                this.toPlssNoResults = false;
                this.working = true;
                this.clearPlss();

                const result = await this.request(`/GetTRS?lat=${this.latitude}&lon=${this.longitude}&units=DD&f=pjson`);
                if (result) {
                    this.blmFormat = result.attributes.landdescription.substring(0, 20);
                    const best = await this.toLatLongCorner(this.blmFormat, 'N', 'E');

                    this.feetNS = parseInt(Math.round(this.degreesToFeet(best.lat - this.latitude)));
                    this.feetNSDir = 'N';
                    this.feetEW = parseInt(Math.round(this.degreesToFeet(best.long - this.longitude)));
                    this.feetEWDir = 'E';
                } else {
                    this.toPlssNoResults = true;
                }

                this.working = false;
            },
            *quadranglesToCheck() {
                // full quadrangle: corner quadrangle based on dir, like NENE or SWSW
                yield `A${this.feetNSDir}${this.feetEWDir}${this.feetNSDir}${this.feetEWDir}`;
                // partial quadrangle: out of the L* quadrangles only those three can ever be in the corner, check all of them
                yield 'L1';
                yield 'L4';
                yield 'L7';
            },
            feetToDegrees(feet) {
                return feet * (360 / (2 * Math.PI * EARTH_RADIUS_METERS * METERS_TO_FEET))
            },
            degreesToFeet(degrees) {
                return degrees / (360 / (2 * Math.PI * EARTH_RADIUS_METERS * METERS_TO_FEET))
            },
            clearPlss() {
                this.state = null;
                this.meridian = null;
                this.township1 = null;
                this.township2 = null;
                this.range1 = null;
                this.range2 = null;
                this.section = null;
                this.feetNS = 0;
                this.feetNSDir = 'N';
                this.feetEW = 0;
                this.feetEWDir = 'E';
            },
            examplePlss() {
                // OK170120N0040W0SN250ANESE
                this.state = 'OK';
                this.meridian = '17';
                this.township1 = '12';
                this.township2 = 'N';
                this.range1 = '4';
                this.range2 = 'W';
                this.section = '25';
                this.feetNS = 100;
                this.feetNSDir = 'N';
                this.feetEW = 125;
                this.feetEWDir = 'E';
            },
            clearLatLong() {
                this.latitude = null;
                this.longitude = null;
            },
            exampleLatLong() {
                this.latitude = 35.4855114;
                this.longitude = -97.5660696;
            },
            setLatLong(coordinates) {
                this.latitude = coordinates.latitude;
                this.longitude = coordinates.longitude;
                this.toPlss();
            },
            async request(url) {
                const key = `cache-${this.hash(url)}`;
                const value = window.localStorage.getItem(key);
                if (value !== null) {
                    return JSON.parse(value);
                }

                const result = await this.$axios.$get(`${BLM_BASE_URL}/${url}`);
                if (result.status === 'success' && result.features.length > 0) {
                    window.localStorage.setItem(key, JSON.stringify(result.features[0]));
                    return result.features[0];
                }
                window.localStorage.setItem(key, JSON.stringify(null));
                return null;
            },
            hash(s) {
                // https://gist.github.com/iperelivskiy/4110988#gistcomment-2697447
                let h = 0xdeadbeef;
                for(let i = 0; i < s.length; i++) {
                    h = Math.imul(h ^ s.charCodeAt(i), 2654435761);
                }
                return (h ^ h >>> 16) >>> 0;
            }
        },
    }
</script>

<style lang="scss">
    @import "assets/variables.scss";

    .working {
        opacity: .5;
    }
</style>
