<template>
    <footer class="bg-dark text-white">
        <div class="container my-5 small">
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            Made by Andrea
                            <small><a href="https://en.pronouns.page/they" target="_blank" rel="noopener">(they/them)</a></small>
                        </li>
                        <li>
                            Website:
                            <a href="https://avris.it" target="_blank" rel="noopener">avris.it</a>
                        </li>
                        <li>
                            Email:
                            <a href="mailto:andrea@avris.it" target="_blank" rel="noopener">andrea@avris.it</a>
                        </li>
                        <li>
                            Twitter:
                            <a href="https://twitter.com/AvrisIT" target="_blank" rel="noopener">@AvrisIT</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="list-unstyled small">
                        <li>
                            All data provided by <a href="https://gis.blm.gov/arcgis/rest/services/Cadastral/BLM_Natl_PLSS_CadNSDI/MapServer/exts/CadastralSpecialServices" target="_blank" rel="noopener">Bureau of Land Management</a>.
                        </li>
                        <li>
                            All request are made client-side, in your browser.
                        </li>
                        <li>
                            <a href="https://gitlab.com/Avris/PLSS" target="_blank" rel="noopener">Source code</a>
                            is published under
                            <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener">OQL License</a>.
                        </li>
                        <li>
                            I use Plausible to track traffic on the website. Data is anonymised.
                            <a href="https://plausible.io/privacy" target="_blank" rel="noopener">More info</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>

<style lang="scss">
    @import "assets/variables.scss";

    footer {
        a {
            color: lighten($primary, 40%);
            &:hover {
                color: $white;
            }
        }
    }
</style>
