<template>
    <header class="container mt-5">
        <h1>🌎 Avris PLSS</h1>
        <p>
            The Public Land Survey System (PLSS) is the surveying method developed and used
            in the United States to plat, or divide, real property for sale and settling.
            <a href="https://en.wikipedia.org/wiki/Public_Land_Survey_System" target="_blank" rel="noopener" class="small">[wikipedia]</a>
        </p>
        <p>
            <a href="https://blm.gov" target="_blank" rel="noopener">Bureau of Land Management</a>
            provides <a href="https://gis.blm.gov/arcgis/rest/services/Cadastral/BLM_Natl_PLSS_CadNSDI/MapServer/exts/CadastralSpecialServices" target="_blank" rel="noopener">an interface</a>
            to convert between PLSS and the universal system of latitude & longitude,
            but it's hard to call it a user friendly tool.
        </p>
        <p>
            This website is a wrapper on their API that makes it way easier to use.
        </p>
        <div class="alert alert-warning">
            ⚠️ This in an αlpha version of the tool. Some things may still not work.
            Feel free to <a href="https://gitlab.com/Avris/PLSS" target="_blank" rel="noopener">open a pull request</a>,
            if you wanna help out.
        </div>
    </header>
</template>

