<template>
    <div class="map border"></div>
</template>

<script>
    export default {
        data() {
            return {
                token: process.env.APPLE_MAP_TOKEN,
                map: null,
                marker: null,
            }
        },
        mounted() {
            if (!process.client) {
                return;
            }

            this.loadScript('mapkit', 'https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js');

            const checker = setInterval(() => {
                if ('mapkit' in window) {
                    clearInterval(checker);
                    this.initMap();
                }
            }, 100);
        },
        methods: {
            loadScript(name, src) {
                if (document.querySelectorAll(`script.${name}-script`).length === 0) {
                    const s = document.createElement('script');
                    s.setAttribute('src', src);
                    s.classList.add(`${name}-script`);
                    document.body.appendChild(s);
                }
            },
            initMap() {
                if (this.map !== null) { return; }

                mapkit.init({ authorizationCallback: (done) => done(this.token) });

                this.defaultLocation = new mapkit.Coordinate(37, -98);

                this.map = new mapkit.Map(this.$el);
                this.map.mapType = mapkit.Map.MapTypes.Hybrid;

                this.map.center = this.defaultLocation;
                this.map.cameraDistance = 6000000;

                this.initMarker();
            },
            initMarker() {
                this.marker = new mapkit.MarkerAnnotation(
                    this.defaultLocation,
                    {
                        color: '#fff',
                        glyphColor: '#c71515',
                        draggable: true,
                        selected: true,
                    },
                );

                this.map.showItems([this.marker]);

                this.marker.addEventListener('drag-end', () => {
                    this.positionChanged();
                });

                this.map.addEventListener('region-change-end', () => {
                    if (!this.regionContainsPoint(this.map.region, this.marker.coordinate)) {
                        this.marker.coordinate = this.map.center;
                    }
                    this.positionChanged();
                });
            },
            setMarker(latitude, longitude) {
                const coordinate = new mapkit.Coordinate(parseFloat(latitude), parseFloat(longitude));
                this.marker.coordinate = coordinate;
                this.map.center = coordinate;
                if (this.map.cameraDistance > 1000000) {
                    this.map.cameraDistance = 1000;
                }
            },
            positionChanged() {
                if (this.marker.coordinate.latitude !== this.defaultLocation.latitude
                    || this.marker.coordinate.longitude !== this.defaultLocation.longitude) {
                        this.$emit('position-changed', this.marker.coordinate);
                }
            },
            regionContainsPoint(region, point) {
                return point.latitude >= region.center.latitude - region.span.latitudeDelta / 2
                    && point.latitude <= region.center.latitude + region.span.latitudeDelta / 2
                    && point.longitude >= region.center.longitude - region.span.longitudeDelta / 2
                    && point.longitude <= region.center.longitude + region.span.longitudeDelta / 2;
            }
        },
    }
</script>

<style lang="scss">
    .map {
        width: 100%;
        height: 300px;
    }
</style>
