$primary: #c71515;
$yellow: #eac75e;

$link-decoration: none;
$link-hover-decoration: underline;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1360px,
) !default;

@import "~bootswatch/dist/yeti/variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
