<template>
    <div class="d-flex flex-column min-vh-100">
        <Header/>
        <main class="container flex-grow-1 mb-5">
            <Nuxt/>
        </main>
        <Footer class="mt-5"/>
    </div>
</template>

<style lang="scss">
    @import "assets/style";
</style>
